# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.XrmPlay452.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\seamus\Projects\XrmPlay452\.idea\.idea.XrmPlay452\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
